{% load static %}

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js">const axios = require('axios');</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'timetable/style.css' %}">

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask" @click="close">
      <div class="modal-wrapper">
        <div class="modal-container" @click.stop>

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

              <div class="modal-body">
                <slot name="body">
                </slot>
              </div>
              <div class="modal-footer">
                <slot name="buttons">

                </slot>
                  <button class="modal-default-button" @click="close">
            Cancel
          </button>
              </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<!-- app -->
<div id="app" style="display:table; margin: 0 auto">
    <button id="show-modal" @click="showNewModal = true">new</button>

    <table class="main_table" v-for="block in blocks">
        <th colspan="2" @click="showNewModal = true; newText=`${block.date} `">[[ block.date ]]</th>
        <tr v-for="block in block.blocks" :key="block.key" @click="showModifyModal = true; idToDelete = block.id">
            <td class="td_time" style="white-space:nowrap">[[ getTimeStartStr(block) ]] - [[ getTimeStopStr(block) ]]</td>
            <td class="td_activity">
                [[ block.activity ]]
            </td>
        </tr>
        </table>
    <br/>

  <modal v-if="showNewModal" @close="showNewModal = false">
      <h3 slot="header">Create task</h3>
      <p slot="body">
      <textarea v-model="newText"></textarea>
      </p>
      <span slot="buttons">
          <button @click="addBlock">
            Send
          </button>
      </span>
  </modal>

  <modal v-if="showModifyModal" @close="showModifyModal = false">
      <h3 slot="header">Update task</h3>
      <span slot="buttons">
          <button @click="deleteBlock">
            Delete
          </button>
      </span>
  </modal>

    <p>[[log ]]</p>
</div>
<script src="{% static 'timetable/blocks.js' %}"></script>
