{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>

<div class="vh-centering-container">
    <div class="vh-centering" style="color:#a0a0a0">
        <div class="centering">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table class="loginform">
                    <tr>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password }}</td>
                    </tr>
                    <tr>
                        <td class="td_submit"><input type="submit" value="login"></td>
                    </tr>
                </table>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}
    </div>
</div>

</body>
</html>
