{% extends "base.html" %}
{% load static %}

{% block head %}
<!DOCTYPE html>
    <title>definition</title>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}">const axios = require('axios');</script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="definition-content centering" style="color:#212121">
        <div>
            <span v-html="definitionHtml"></span>
        </div>
    </div>
    <div class="searchbar">
        <div class="centering">
            <form action="#">
                <input type="text" v-model="word"/>
                <button @click="loadDef"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            definitionHtml: '',
            word: '',
        },
        methods: {
            loadDef: function () {
                if (this.word != '') {
                axios
                  .get('/def/api/def/' + this.word)
                  .then(response => (this.definitionHtml = response.data.htmlcontent))
                  .catch(error => this.printerr(error));
                }
            },
            test: function () {
                alert("a test ");
            },
            printerr: function (err_msg) {
                alert("ça a planté...\n\n" + err_msg);
            }
        },
        mounted() {
        }
    })

</script>
{% endblock %}
