{% extends "base.html" %}
{% load static %}

{% block head %}
<title>lbcflba</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js">const axios = require('axios');</script>
<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask" @click="close">
            <div class="modal-wrapper">
                <div class="modal-container" @click.stop>
                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                        </slot>
                    </div>
                    <div class="modal-footer">
                        <span>
                            <button @click="close">
                                <i class="fa fa-close"></i>
                            </button>
                        </span>
                        <span><slot name="button-middle"></slot></span>
                        <span><slot name="button-right"></slot></span>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="lbcflba-menu" v-if="selectedGroupId > -1">
            <a href="#" class="lbcflba-menu-icon" @click="showFastNewModal = true"><i class="fa fa-plus"></i></a>
            <a href="#" class="lbcflba-menu-icon" @click="showFilterModal = true"><i class="fa fa-filter"></i></a>
            <a href="#" class="lbcflba-menu-icon" @click="showOptionModal = true"><i class="fa fa-cog"></i></a>
            <a href="#" class="lbcflba-menu-icon" @click="selectedGroupId = -1"><i class="fa fa-bars"></i></a>
    </div>
    <div class="centering" v-if="selectedGroupId == -1" style="min-width:33%">
        <div class="centering" v-for="group in groups">
            <p>
            I am <input v-model="userData.name" :placeholder="userInfo.username"> 
            <button @click="renameUser"><i class="fa fa-check"></i></button>
            </p>
            <br>
            <a class="button" href="#" @click="selectedGroupId = group.id; showChooseModal = false;">[[ group.name ]]</a><br>
        </div>
    </div>
    <div class="centering" v-if="selectedGroupId > -1" style="min-width:33%">
        <recap :transactions="selectedGroupTransactions"
               :memberdict="memberDict"
               :userinfo="userInfo">
        </recap>
        <br>
        <daily v-for="transaction in selectedGroupTransactions"
               :transaction="transaction"
               :userinfo="userInfo"
               :memberdict="memberDict"
               :categorydict="categoryDict"
               @showupdate="doShowUpdateModal">
        </daily>
    </div>

    <modal v-if="showNewModal" @close="showNewModal = false">
        <h3 slot="header">new transaction</h3>
        <p slot="body">
            <select v-model="newData.sourceId">
                <option v-for="member in members" :value="member.spenderId">[[ member.username ]]</option>
            </select>
            <input type="number" v-model="newData.amount" step=".01">
            <br>
            <select v-model="newData.categoryId">
                <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
            </select>
            <br>
            <textarea v-model="newData.text"></textarea>
        </p>
        <button slot="button-right" @click="newTransaction">send</button>
    </modal>

    </modal>
        <modal v-if="showUpdateModal" @close="showUpdateModal = false">
        <h3 slot="header">Update task</h3>
        <p slot="body">
            <input type="date" v-model="updateData.date">
            <br>
            <textarea v-model="updateData.text"></textarea>
            <br>
            <select v-model="updateData.categoryId">
                <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
            </select>
            <br>
            <br>
            <button @click="deleteTransaction">delete transaction</button>
        </p>
        <button slot="button-right" @click="updateTransaction">save</button>
    </modal>

    <modal v-if="showOptionModal" @close="showOptionModal = false">
        <h3 slot="header">Options</h3>
        <div slot="body">
            <h2>Categories</h2>
            <p>
                <input v-model="optionData.categoryName" placeholder="new category">
                <button @click="newCategory">create</button>
                <br>
                <select v-model="optionData.categoryId" @change="updateSelection()">
                    <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
                </select>
                <button @click="deleteCategory">delete</button>
            </p>
            <h2>Group Name</h2>
            <p>
                <input v-model="optionData.groupName" :placeholder="[[groupDict[selectedGroupId].name]]">
                <button @click="renameGroup">rename</button>
            </p>
        </div>
    </modal>

    <modal v-if="showFilterModal" @close="showFilterModal = false">
        <h3 slot="header">Filters</h3>
        <p slot="body">
            <select v-model="filterData.statusId">
                <option value="-1">all status</option>
                <option v-for="i in [0, 1]" :value="i">[[ i ]]</option>
            </select>
            <br>
            <select v-model="filterData.categoryId">
                <option value="-1">all cats</option>
                <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
            </select>
        </p>
        <button slot="button-middle" @click="clearFilters">clear</button>
        <button slot="button-right" @click="showFilterModal = false"><i class="fa fa-check"></i></button>
    </modal>

    <modal v-if="showFastNewModal" @close="closeFastNewModal">
        <h3 slot="header">new transaction</h3>
        <div slot="body">
            <div v-if="newData.fastState == 0">
                <div v-for="member in members">
                    <p><button @click="processFastState(0, member.spenderId) ">[[member.username]] paid</button></p>
                </div>
            </div>
            <div v-if="newData.fastState == 1">
                <div><p><button @click="processFastState(1, -1) ">for the group</button></p></div>
                <div v-for="member in members">
                    <p><button @click="processFastState(1, member.spenderId) ">for [[member.username]]</button></p>
                </div>
            </div>
            <div v-if="newData.fastState == 2">
                <input type="number" v-model="newData.amount" step=".01">
            </div>
            <div v-if="newData.fastState == 3">
                <p class="centering">
                <select v-model="newData.categoryId">
                    <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
                </select>
                </p>
                <p>
                    <textarea v-model="newData.text"></textarea>
                </p>
            </div>
        </div>
            <button slot="button-right" v-if="newData.fastState == 2" @click="processFastState(newData.fastState, null) "><i class="fa fa-arrow-right"></i></button>
            <button slot="button-right" v-if="newData.fastState == 3" @click="processFastState(newData.fastState, null) "><i class="fa fa-check"></i></button>
    </modal>

</div>
<script src="{% static 'lbcflba/app.js' %}"></script>
{% endblock %}
