{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>lbcflba</title>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js">const axios = require('axios');</script>-->
<!--    <script src="https://momentjs.com/downloads/moment.min.js"></script>-->
<!--    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>-->

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>

{{ transactions }}

<!--<script src="{% static 'lbcflba/app.js' %}"></script>-->
</body>
</html>