{% extends "base.html" %}
{% load static %}

{% block head %}
<title>lbcflba</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js">const axios = require('axios');</script>
<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask" @click="close">
            <div class="modal-wrapper">
                <div class="modal-container" @click.stop>
                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                        </slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="buttons">

                        </slot>
                        <button class="modal-default-button" @click="close">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
{% endblock %}

{% block content %}
<div id="app">
    <div class="centering">
        <p>
            <a href="#" class="lbcflba-menu" @click="showChooseModal = true"><i class="fa fa-bars"></i></a>
            <span v-if="selectedGroupId > -1">
                <a href="#" class="lbcflba-menu" @click="showNewModal = true"><i class="fa fa-plus"></i></a>
                <a href="#" class="lbcflba-menu" @click="showFilterModal = true"><i class="fa fa-filter"></i></a>
                <a href="#" class="lbcflba-menu" @click="showOptionModal = true"><i class="fa fa-cog"></i></a>
            </span>
        </p>
    </div>
    <div class="centering" v-if="selectedGroupId > -1" style="min-width:33%">
        <recap :transactions="selectedGroupTransactions"
               :memberdict="memberDict"
               :userinfo="userInfo">
        </recap>
        <br>
        <daily v-for="transaction in selectedGroupTransactions"
               :transaction="transaction"
               :userinfo="userInfo"
               :memberdict="memberDict"
               :categorydict="categoryDict"
               @showmodify="doShowUpdateModal">
        </daily>
    </div>

    <modal v-if="showNewModal" @close="showNewModal = false">
        <h3 slot="header">new transaction</h3>
        <p slot="body">
            <select v-model="newData.sourceId">
                <option v-for="member in members" :value="member.spenderId">[[ member.username ]]</option>
            </select>
            <input type="number" v-model="newData.amount" step=".01">
            <br>
            <select v-model="newData.categoryId">
                <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
            </select>
            <br>
            <textarea v-model="newData.text"></textarea>
        </p>
        <span slot="buttons">
          <button @click="newTransaction">
            send
          </button>
      </span>
    </modal>

    </modal>
        <modal v-if="showUpdateModal" @close="showUpdateModal = false">
        <h3 slot="header">Update task</h3>
        <p slot="body">
            <input type="date">
            <br>
            <textarea v-model="updateData.text"></textarea>
            <br>
            <select v-model="updateData.categoryId">
                <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
            </select>
            <br>
            <br>
            <button @click="deleteTransaction">delete transaction</button>
        </p>
        <span slot="buttons">
            <button @click="updateTransaction">save</button>
      </span>
    </modal>

    <modal v-if="showOptionModal" @close="showOptionModal = false">
        <h3 slot="header">Options</h3>
        <div slot="body">
            <h2>Categories</h2>
            <p>
                <input v-model="optionData.categoryName" placeholder="new category">
                <button @click="newCategory">create</button>
                <br>
                <select v-model="optionData.categoryId" @change="updateSelection()">
                    <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
                </select>
                <button @click="deleteCategory">delete</button>
            </p>
        </div>
    </modal>

    <modal v-if="showFilterModal" @close="showFilterModal = false">
        <h3 slot="header">Filters</h3>
        <p slot="body">
            <select v-model="filterData.statusId">
                <option value="-1">all status</option>
                <option v-for="i in [0, 1]" :value="i">[[ i ]]</option>
            </select>
            <br>
            <select v-model="filterData.categoryId">
                <option value="-1">all cats</option>
                <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
            </select>
        </p>
        <span slot="buttons">
            <button @click="clearFilters">clear</button>
        </span>
    </modal>

    <modal v-if="showChooseModal" @close="showChooseModal = false">
        <h3 slot="header"></h3>
        <ul slot="body">
            <li v-for="group in groups" @click="selectedGroupId = group.id; showChooseModal = false;"><a href="#">[[ group.name ]]</a></li>
        </ul>
    </modal>
</div>
<script src="{% static 'lbcflba/app.js' %}"></script>
{% endblock %}