{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>lbcflba</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js">const axios = require('axios');</script>
    <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
<div id="app">
    <div class="centering">
        <p>
            <a href="{% url 'lbcflba:index' %}" class="button">back</a>
        </p>
        <p>
            <select v-model="selectedGroupId" @change="updateSelection()">
            <option value="-1">select a group</option>
            <option v-for="group in groups" :value="group.id">[[ group.name ]]</option>
        </select>
        </p>
    </div>
    <div v-if="selectedGroupId > -1">
        <h2>Categories</h2>
        <p>
            <input v-model="newCategoryName" placeholder="new category">
            <button @click="newCategory(selectedGroupId, newCategoryName)">add</button>
            <br>
            <select v-model="categoryId" @change="updateSelection()">
                <option value="-1">categories</option>
                <option v-for="(name, id) in categoryDict" :value="id">[[ name ]]</option>
            </select>
            <button @click="deleteCategory(selectedGroupId, categoryId)">delete</button>
        </p>
    </div>
</div>
<script src="{% static 'lbcflba/app.js' %}"></script>
</body>
</html>