{% extends "base.html" %}

{% block head %}
    <title>pspace</title>
{% endblock %}

{% block content %}
<div class="vh-centering-container">
    <div class="vh-centering indexmenu">
            <p>
                <a class="button" href="{% url 'definition:index' %}">definition</a>
            </p>
            <p>
                <a class="button" href="{% url 'timetable:index' %}">agenda</a>
            </p>
            <p>
                <a class="button" href="{% url 'lbcflba:index' %}">lbcflba</a>
            </p>
    </div>
</div>
{% endblock %}
