html, body, #root {
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

#definition-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.centering {
    margin: auto;
}

.definition-center {
    flex: 1;
    overflow:auto;
}

.definition-content {
    max-width: 80ch;
    padding-top: 2em;
    padding-bottom:40vh;
    padding-left: 1ch;
    padding-right: 1ch;
}

.searchbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: lightgrey;
}

.searchbar-info {
}

.searchbar-tools {
}

.searchbar button {
  background-color: lightgrey;
  color: white;
  border: 0;
  box-shadow: none;
  padding: .5em;
}
